body {
    background-image: url('img_login_bkgd3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #0B1678;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    background: #626DCF;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
 }

.login_container {
    position: relative;
    max-width: 500px;
    margin: 10% auto auto auto;
    padding: 45px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}