:root {
    --saleOrPurchase_item_margin: 3%;
    --image_path: ;

    --almost-white: #eee;
    --hover-gray: #ccc;
    --dark-blue: rgb(7, 2, 47);
    --page-background: #f2f2f2;
    --icon-background: #f0f0f0;

    --customer-element-height: 60px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.bkg {
    background-color: var(--page-background);
    width: 100%;
    height: 100%;
    display: flex;
}


/* HEADER */
header {
    height: 80px;
    width: 100%;
}

#header_bkg {
    background-color: var(--dark-blue);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#header_logo {
    position: absolute;
    left: var(--saleOrPurchase_item_margin);
    background-image: url('images/img_logo.png');
    height: 60px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;;
    cursor: pointer;
}

#header_icon {
    position: absolute;
    right: var(--saleOrPurchase_item_margin);
    cursor: pointer;
}



/* REUSEABLE COMPONENTS */
.btn_generic, .collabsible_btn{
    background: #0B1678;
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn_generic:hover, .btn_generic:active, .btn_generic:focus {
    background: #626DCF;
}

.nav_button {
    background: #FFFFFF;
    /*width: relative;*/
    height: 70px;
    width: 250px;
    border: 0;
    padding: 15px;

    font-family: "Roboto", sans-serif;
    color: #045acb;
    font-size: 16px;
    font-weight: bolder;
}

.nav_button:hover, .nav_button:active, .nav_button:focus {
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}


input {
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    background: white;
    width: 100%;
    padding: 15px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
 }




 /* LOGIN PAGE ---------- ---------- */
 #login_bkg {
    background-image: url('images/img_login_bkgd3.png');
    background-position: center center;
    /*background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
    align-items: center;
    justify-content: center;
}

 .login_container {
    max-width: 500px;
    padding: 45px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* END LOGIN ---------- ---------- ---------- ---------- */



/* HOME PAGE ---------- ---------- */
 #home_bkg {
    flex-direction: column;
}

.nav_btn_container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: auto;
    height: auto;
    margin: 15px; /*center this item*/
    padding: 15px;

    border: 0;
    background: #ffffff;
    text-align: center;
}
/* END HOME PAGE ---------- ---------- ---------- ---------- */



/* CUSTOMER PAGE ---------- ---------- */
#customer_bkg {
    background-color: var(--page-background);
    flex-direction: column;
}

.customer_btn_container {
    display: flex;
    width: auto;
    height: 150px;
    margin: 15px; /*center this item*/
    padding: 15px;
    align-items: center;

    background: #ffffff;
}

.input_group {
    height: var(--customer-element-height);
    width: 35%;
    margin-right: 10px;
}

#search_customer_input {
    height: 100%;
    width: 100%;
 }

 #btn_add_new_customer {
    height: var(--customer-element-height);
    width: auto;
}
/* END CUSTOMER PAGE ---------- ---------- ---------- ---------- */



/* SALE PAGE ---------- ---------- */
 #sale_bkg {
    /*background-color: #f2f2f2;*/
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#sale_main_container {
    height: 100%;
    margin: 2% var(--saleOrPurchase_item_margin) 10% var(--saleOrPurchase_item_margin);

    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
}

/* Three Sections */
.sale_section {
    display: flex;
    flex-direction: column;
    background: white;
    height: auto;
    margin: 0px;
}

#search_inventory_section {
    width: 30%;
    overflow-y: scroll;
}

#item_display_section {
    width: 35%;
    margin: 0 10px;
}

#cart_section {
    width: 35%;
    overflow-y: scroll;
}

/* Section #1: SEARCH INVENTORY */
.--search_element {
    margin: 5px;
    width: auto;
    border-radius: 15px;
}

.category {
    background-color: var(--almost-white);
}

.collapsible {
    width: auto;
    padding: 18px;
    border: none;
    outline: none;
    
    text-align: left;
    font-size: 14px;
    color: #444;

    cursor: pointer;
}

.collapsible:active, .collapsible:hover, .item_btn:hover, .item_btn:active  {
    background-color: var(--hover-gray);
}

.item_btn {
    background-color: var(--page-background);
    color: var(--dark-blue);
    border-radius: 0px;
    padding: 5px;
}

.content {
    background-color: #f1f1f1;
    padding: 0 18px;
    display: none;
}

/* Section #2: ITEM DISPLAY */
.item_display_cell {
    text-align: center;
    vertical-align: middle;
}

#item_display_image_container {
    height: 100%;
    width: auto;
    margin: 10px;
    background-image: var(--image_path);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Section #3: CART */
caption {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
}

table {
    border-collapse: collapse;
}

tr {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

th, td {
    text-align: center;
    padding: 5px;
}

#cart_total_amount {
    font-weight: bold;
}

/* CONFIRM Cart Button */
#btn_cart_confirm {
    width: 200px;
    position: fixed;
    align-self: flex-end;
    margin-right: var(--saleOrPurchase_item_margin);
    margin-bottom: 4%;
}

/* END SALE PAGE ---------- ---------- ---------- ---------- */