:root {
    --saleOrPurchase_item_margin: 3%;
}

* {
    border: 1px solid orange;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.bkg {
    background-color: #676c9a;
    width: 100%;
    height: 100%;
    display: flex;
}


header {
    background-color: rgb(3, 0, 61);
    height: 70px;
    width: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
}



/* BUTTON ---------- ---------- */
.btn_generic, .collabsible_btn{
    background: #0B1678;
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    background: #626DCF;
}

.nav_button {
    background: #FFFFFF;
    /*width: relative;*/
    height: 70px;
    border: 0;
    padding: 15px;

    font-family: "Roboto", sans-serif;
    color: #045acb;
    font-size: 16px;
    font-weight: bolder;
}

.nav_button:hover, .nav_button:active, .nav_button:focus {
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
/* END BUTTON ---------- ---------- ---------- ---------- */


/* OTHER ---------- ---------- */
input {
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
 }
 /* END OTHER ---------- ---------- ---------- ---------- */




 /* LOGIN PAGE ---------- ---------- */
 #login_bkg {
    background-image: url('images/img_login_bkgd3.png');
    background-position: center center;
    /*background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
    align-items: center;
    justify-content: center;
}

 .login_container {
    max-width: 500px;
    padding: 45px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* END LOGIN ---------- ---------- ---------- ---------- */




/* HOME PAGE ---------- ---------- */
 #home_bkg {
    background-color: #f2f2f2;
    flex-direction: column;
}

.nav_btn_container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: auto;
    height: auto;
    margin: 15px; /*center this item*/
    padding: 15px;

    border: 0;
    background: #ffffff;
    text-align: center;
}
/* END HOME PAGE ---------- ---------- ---------- ---------- */




/* SALE PAGE ---------- ---------- */
 #sale_bkg {
    /*background-color: #f2f2f2;*/
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    justify-content: end;
}

#sale_main_container {
    height: 100%;
    margin: 2% var(--saleOrPurchase_item_margin) 10% var(--saleOrPurchase_item_margin);

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    overflow-x: auto;
}

.sale_section {
    height: auto;
    margin: 0px;
}

/* Three Sections */
.sale_section {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    background: #60c0e098;
}

#search_inventory_section {
    width: 30%;
    overflow-y: scroll;
}

#item_display_section {
    width: 35%;
    margin: 0 10px;
}

#cart_section {
    width: 35%;
    overflow-y: scroll;
}

/* Section #1: SEARCH INVENTORY */
.--search_element {
    margin: 5px;
    width: auto;
    border-radius: 15px;
    background-color: #eee;
}

#search_inventory_input {
    /* change style */
}

.collapsible {
    width: auto;
    padding: 18px;
    border: none;
    outline: none;
    
    text-align: left;
    font-size: 14px;
    color: #444;

    cursor: pointer;
}

.collapsible:active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    background-color: #f1f1f1;
    padding: 0 18px;
    display: none;
}

/* Section #2: ITEM DISPLAY */

/*
.item_display_table {
    background-color: white;
}
*/

.item_display_cell {
    text-align: center;
    vertical-align: middle;
    /*background-color: white;*/
}

#item_display_image_container {
    height: 100%;
    width: auto;
    margin: 10px;
    background-image: url("images/product_img_gold_bar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*
#item_display_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/


/* Section #3: CART */
#table_cart {
}

/* CONFIRM Cart Button */
#btn_cart_confirm {
    width: 200px;
    position: fixed;
    align-self: flex-end;
    margin-right: var(--saleOrPurchase_item_margin);
    margin-bottom: 4%;
}

/* END SALE PAGE ---------- ---------- ---------- ---------- */

/*<img src="images/product_img_gold_bar.png" alt="5 ounce gold bar">*/